/* Cor do texto e fundo da página */
body {
    background-color: #F4E1D2; /* Cor de fundo da página */
    color: #4A2C2A; /* Cor do texto da página */
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Cor do texto do footer */
footer {
    color: #FFFFFF;  /* Cor do texto footer */
    background-color: #8D6E63; /* Cor do fundo footer */
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Cor do texto da navegação */
nav a {
    text-shadow: none;
    color: #6D4C41; /* Cor do texto links de navegação */
}

.estyleparagrafo {
    background-color: #aa938a;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

nav ul li a {
    background-color: rgb(230, 207, 207);
}